@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: #f0f2f5;

    .card {
        .card-title {
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}